*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
      scroll-behavior: smooth;
      scroll-padding-top: 100px;
    }
    
    body {
      background: #fcf8e8;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 800;
      align-items: center;
      margin: 0;
      place-items: center;
      width: 100%;
      height: 100%;
    }
    
    @font-face{
      font-family: Spicy Pumpkin;
      src: url(Spicy_pumpkin.ttf);
    }
  
    .font{
      font-family: 'Montserrat', sans-s   erif;
      font-size: medium;
    }
    
    /* start navbar */
    .my-navbar{
      background-color: #fcf8e8;
      border-bottom: 2px solid #fad586;
      display: flex;
  }
  
  .navigation-link{
      text-decoration: none;
      position: relative;
      color: #ffa36c !important;
      padding: 1rem;
  }
  
  .navigation-link::after{
    content: '';
    width: 100%;
    height: 0.175rem;
    background-color: #ffd56b;
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
    transform: scale(0, 1);
  }
  
  .navigation-link:hover::after{
    left: 0%;
    transform: scale(1, 1);
  }
  
  .navbar-brand{
    font-size: xx-large;
    font-family: 'Fredoka One', cursive;
  }
  
  .f-color{
    color: #ffa36c !important;
  }
  
  .logo{
    color: #ffd56b;
  }
  
  .navbar-toggler{
    border: none;
  }
  
  /* end navbar */
  /* start header */
  .header{
    width: 100%;
    height: 100vh;
  }
  
  .my-jumbotron{
    height: 570px;
    width: 100%;
    position: relative;
  }
  
  .hero-section {
  background-color: #f7ecbb;
  margin-top: -100px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%239C92AC' fill-opacity='0.12' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  .custom-shape-divider-bottom-1612252940 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-bottom-1612252940 svg {
    position: relative;
    display: block;
    width: calc(140% + 1px);
    height: 180px;
  }
  
  .custom-shape-divider-bottom-1612252940 .shape-fill {
    fill: #FCF8E8;
  }
  
  .intro h1{
    margin-top: 10%;
    position: relative;
    text-align: center;
    font-size: 3.4em;
    font-family: 'Fredoka One', cursive;
    color: #312c51;
    padding: 1rem;
    user-select: none;
    }
  
  .intro h6{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    z-index: 1;
  }
  
  /* end header */
  
  /* start about */
  .about .container{
    padding-top: 3em;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
  }
  
  .about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 2rem;
  }
  
  .about-heading h1{
    font-size: 3rem;
    font-weight: 900;
    opacity: .7;
    color: #312c51;
  }
  
  .about-heading h6{
    font-size: 2rem;
    font-weight: 900;
    color: #312c51;
  }
  
  .about-details p{
    text-align: center;
  }
  
  .profile-img {
    margin-right: 2%;
    width: 100%;
    flex: 1;
  }
  /* end about */
  
  /* start study section */
  .section-heading{
    text-align: center;
    margin-top: 8rem;
    line-height: 0;
  }
  
  .section-heading h1{
    font-size: 3.5rem;
    color: tomato;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.7;
    position: relative;
    margin-bottom: 1rem;
  }
  
  .section-heading h1::before,
  .section-heading h1::after{
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #312c51;
  }
  
  .section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
  }
  
  .section-heading h1::after{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    bottom: -.9rem;
  }
  
  .section-heading h6{
    font-size: 1rem;
    font-weight: 800;
  }
  
  .container-edu{
    display: block;
    max-width: 800px;
    width: 90%;
    margin: 100px auto;
  }
  
  .container-edu h1 {
    font-size: 53px;
    font-family: 'friendly schoolmates';
    color: #D3A29D;
    margin-bottom: 30px;
    padding-left: 150px;
    text-align: center;
    margin-top: 250px;
  }
  
  .timeline {
    display: block;
    width: 100%;
    padding-left: 10px;
    margin-top: 4rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  
  .timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #ff8080;
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 1;
  }
  
  .timeline .item-edu{
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  
  .timeline .item-edu + .item-edu {
    border-top: 1px;
  }
  
  .timeline .item-edu:after {
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid #ff8080;
    position: absolute;
    left: -9px;
    top: 25px;
    border-radius: 100%;
    background-color: #fcf8e8;
    z-index: 2;
  }
  
  .timeline .item-edu h1 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
    opacity: .6;
  }
  
  .timeline .item-edu p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  /* end study section */
  
  /* start skill bar */
    /* text-align: center;
    margin-top: 8rem; */
  
  .title-skills{
    text-align: center;
    margin-top: 8rem;
    line-height: 0;
    font-size: 3.5rem;
    color: tomato;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.7;
    position: relative;
    padding-bottom: 5%;
  }
  
  .skill-bars{
    padding: 25px 30px;
    width: 80%;
    margin: auto;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: tomato;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 95%;
  }
  .bar .progress-line.jquery span{
    width: 75%;
  }
  .bar .progress-line.python span{
    width: 95%;
  }
  .bar .progress-line.mysql span{
    width: 90%;
  }
  
  /* end skill bar */
  
  /* start socmed section */
  .wrapper{
    position: relative;
    margin-left: 40%;
    display: inline-flex;
    padding-top: 3%;
  }
  
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 55px;
    width: 55px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .email:hover span,
  .wrapper .email:hover .tooltip,
  .wrapper .email:hover .tooltip:before{
    background: red;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before{
    background: #333;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before{
    background: #DE463B;
  }
  
  .wrapper .icon a{
    color: black;
  }
  
  .wrapper .icon:hover span a{
    color: white;
  }
  /* end socmed section */
  
  
  /* start footer */
  .copyright{
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: tomato;
    width: 100%;
    height: 4rem;
    padding: 20px 0;
    text-align: center;
  
   }
  
  #footer p{
    position: relative;
    color: #fcf8e8;
    font-size: 12pt;
    }
  
  /* end footer */
  
  @media (max-width: 991.98px) { 
    .nav-link{
        text-align: center;
    }
  
    .about .container{
      align-items: center;
      flex-direction: column;
      margin: 50px 0;
    }
  
    .profile-img img{
      align-items: center;
      margin: auto;
      flex-wrap: wrap;
      padding-left: 22%;
      margin: auto;
    }
  
    .intro h1{
      font-size: 3.3rem;
    }
  
    .wrapper{
      margin-left: 35%;
      position: relative;
  
    }
  }
  
  /* // Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    .about .container{
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      margin: 50px 0;
    }
  
    .profile-img img{
      max-width: 100%;
      padding-right: 18%;
      margin-bottom: 7%;
      align-items: center;
    }
  
    .wrapper{
      margin-left: 27%;
      position: center;
    }
  
    @media (max-width: 384.98px) { 
      .wrapper{
      margin-left: 36%;
      flex-direction: column;
    }
    }
  
    }